Repository NethermindEth/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NethermindEth/Angkor/angkor-validator-operators, @AntiD2ta, @aivarasko, @matilote, @Anish, @Manjeet, @refl3ction, @stdevMac

Removing lodstar from production branch
  charts/lodestar/.helmignore
  charts/lodestar/Chart.yaml
  charts/lodestar/templates/_helpers.tpl
  charts/lodestar/templates/configmap.yaml
  charts/lodestar/templates/ingress.yaml
  charts/lodestar/templates/service.yaml
  charts/lodestar/templates/serviceaccount.yaml
  charts/lodestar/templates/statefulset.yaml
  charts/lodestar/values.yaml
Owners: @aivarasko, @matilote, @refl3ction, @stdevMac

Move dirk securityContext under Values.Global
  charts/dirk/templates/statefulset.yaml
  charts/dirk/values.yaml
Owners: @aivarasko, @matilote

Fix linter issues
  charts/dirk/templates/statefulset.yaml
Owners: @aivarasko, @matilote

Add READMEs to charts
  charts/cert-manager/README.md
  charts/common/README.md
  charts/dirk/README.md
  charts/dirk/values.yaml
  charts/ethereum-node/README.md
  charts/ethereum-node/charts/nethermind/README.md
  charts/ethereum-node/charts/prysm/README.md
  charts/execution-beacon/README.md
  charts/execution-beacon/values.yaml
  charts/external-dns/README.md
  charts/external-secrets/README.md
  charts/juno-node/README.md
  charts/kong/README.md
  charts/kube-prometheus-stack/README.md
  charts/lodestar/README.md
  charts/loki/README.md
  charts/mev-boost/README.md
  charts/mev-boost/values.yaml
  charts/mysql/README.md
  charts/posmoni/README.md
  charts/posmoni/values.yaml
  charts/promtail/README.md
  charts/rpc-saas-secretStore/README.md
  charts/validator-ejector/README.md
  charts/validator-ejector/values.yaml
  charts/validator-kapi/README.md
  charts/validator-kapi/values.yaml
  charts/validators/README.md
  charts/validators/values.yaml
  charts/vouch/README.md
  charts/vouch/values.yaml
  charts/web3signer/README.md
  charts/web3signer/values.yaml
Owners: @Anish, @Manjeet, @aivarasko, @matilote, @AntiD2ta, @refl3ction, @stdevMac

Add CI check for documentation update
  .github/workflows/check-dock.yaml
Owners: @NethermindEth/Angkor/angkor-validator-operators, @AntiD2ta, @aivarasko, @matilote

Fix linter issues
  .github/workflows/check-dock.yaml
Owners: @NethermindEth/Angkor/angkor-validator-operators, @AntiD2ta, @aivarasko, @matilote

Fix linter issues
  .github/workflows/check-dock.yaml
Owners: @NethermindEth/Angkor/angkor-validator-operators, @AntiD2ta, @aivarasko, @matilote

Remove internal loadbalancer from juno charts
  charts/juno-node/templates/svc-wss-lb.yaml
  charts/juno-node/templates/svc_lb.yaml
  charts/juno-node/values.yaml
Owners: @Anish, @Manjeet

Remove internal loadbalancer from juno
  charts/juno-node/templates/svc-wss-lb.yaml
  charts/juno-node/templates/svc_lb.yaml
  charts/juno-node/values.yaml
Owners: @Anish, @Manjeet

added mci code
  charts/kong/templates/_helpers.tpl
  charts/kong/templates/service-kong-proxy-mci.yaml
  charts/kong/values.yaml
Owners: @Anish, @Manjeet

update internal alb
  charts/juno-node/templates/internal-alb.yaml
Owners: @Anish, @Manjeet

update internal alb
  charts/juno-node/values.yaml
Owners: @Anish, @Manjeet

update internal alb
  charts/juno-node/templates/internal-alb.yaml
  charts/juno-node/values.yaml
Owners: @Anish, @Manjeet

update internal alb
  charts/juno-node/templates/internal-alb.yaml
Owners: @Anish, @Manjeet

fix service
  charts/kong/templates/_helpers.tpl
  charts/kong/templates/backend.yaml
Owners: @Anish, @Manjeet

fix service
  charts/kong/templates/_helpers.tpl
Owners: @Anish, @Manjeet

fix service
  charts/kong/templates/service-kong-proxy-mci.yaml
Owners: @Anish, @Manjeet

Fix MCI backend
  charts/kong/templates/_helpers.tpl
  charts/kong/templates/backend.yaml
Owners: @Anish, @Manjeet

Fix MCI backend
  charts/kong/values.yaml
Owners: @Anish, @Manjeet

Fix MCI backend
  charts/kong/templates/_helpers.tpl
  charts/kong/values.yaml
Owners: @Anish, @Manjeet

Fix MCI backend
  charts/kong/templates/backend.yaml
Owners: @Anish, @Manjeet

Fix MCI backend
  charts/kong/templates/backend-mci.yaml
Owners: @Anish, @Manjeet

fix bug in tpl
  charts/kong/templates/_helpers.tpl
  charts/kong/values.yaml
Owners: @Anish, @Manjeet

fix bug in tpl
  charts/kong/templates/_helpers.tpl
  charts/kong/values.yaml
Owners: @Anish, @Manjeet

fix mci bug
  charts/kong/templates/_helpers.tpl
Owners: @Anish, @Manjeet

feat: add ssv-node Chart
  charts/ssv-node/.helmignore
  charts/ssv-node/Chart.yaml
  charts/ssv-node/templates/_helpers.tpl
  charts/ssv-node/templates/configmap.yaml
  charts/ssv-node/templates/external-secret.yaml
  charts/ssv-node/templates/ingress.yaml
  charts/ssv-node/templates/service.yaml
  charts/ssv-node/templates/serviceaccount.yaml
  charts/ssv-node/templates/statefulset.yaml
  charts/ssv-node/values.yaml
Owners: @NethermindEth/Angkor/angkor-validator-operators

fix: template
  charts/ssv-node/templates/statefulset.yaml
Owners: @NethermindEth/Angkor/angkor-validator-operators

fix mci bug
  charts/kong/templates/_helpers.tpl
Owners: @Anish, @Manjeet

fix mci bug
  charts/kong/templates/_helpers.tpl
Owners: @Anish, @Manjeet

update mci ingress path
  charts/kong/templates/_helpers.tpl
Owners: @Anish, @Manjeet

chore: remove unused config
  charts/ssv-node/templates/configmap.yaml
  charts/ssv-node/values.yaml
Owners: @NethermindEth/Angkor/angkor-validator-operators

Update juno-charts README
  charts/juno-node/README.md
Owners: @Anish, @Manjeet

Add docs rule to Makefile
  Makefile
Owners: @NethermindEth/Angkor/angkor-validator-operators

Fix juno-node lint issues
  charts/juno-node/values.yaml
Owners: @Anish, @Manjeet

.github/CODEOWNERS:

# See https://github.com/scottrigby/prometheus-helm-charts/issues/12
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# The repo admins team will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @NethermindEth/Angkor/angkor-validator-operators

/.github/workflows/ @NethermindEth/Angkor/angkor-validator-operators @AntiD2ta @aivarasko @matilote

/charts/cert-manager/ @Anish @Manjeet
/charts/common/ @aivarasko @matilote
/charts/dirk/ @aivarasko @matilote
/charts/ethereum-node/ @Anish @Manjeet
/charts/execution-beacon/ @aivarasko @AntiD2ta @matilote
/charts/external-dns/ @Anish @Manjeet
/charts/external-secrets/ @Anish @Manjeet
/charts/juno-node/ @Anish @Manjeet
/charts/kong/ @Anish @Manjeet
/charts/kube-prometheus-stack/ @Anish @Manjeet
/charts/lodestar/ @aivarasko @matilote @refl3ction @stdevMac
/charts/loki/ @Anish @Manjeet
/charts/mev-boost/ @aivarasko @matilote
/charts/mysql/ @Anish @Manjeet
/charts/posmoni/ @aivarasko @matilote
/charts/promtail/ @Anish @Manjeet
/charts/rpc-saas-secretStore/ @Anish @Manjeet
/charts/validator-ejector/ @aivarasko @matilote
/charts/validator-kapi/ @aivarasko @matilote
/charts/validators/ @aivarasko @matilote
/charts/vouch/ @aivarasko @matilote
/charts/web3signer/ @aivarasko @matilote
