Repository NethermindEth/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NethermindEth/Angkor/angkor-validator-operators, @AntiD2ta, @aivarasko, @matilote

Add codeowners checker workflow
  .github/workflows/check-codeowners.yaml
  scripts/check-codeowners.sh
Owners: @NethermindEth/Angkor/angkor-validator-operators, @AntiD2ta, @aivarasko, @matilote

Add workflow to validate PRs correctness
  .github/workflows/validate-pr.yaml
  scripts/validate-pr.sh
Owners: @NethermindEth/Angkor/angkor-validator-operators, @AntiD2ta, @aivarasko, @matilote

Add linter (super-linter)
  .github/workflows/linter.yaml
Owners: @NethermindEth/Angkor/angkor-validator-operators, @AntiD2ta, @aivarasko, @matilote

Lint and test charts with kind and chart-testing
  .github/workflows/lint-test.yaml
Owners: @NethermindEth/Angkor/angkor-validator-operators, @AntiD2ta, @aivarasko, @matilote

Update release pipeline
  .github/workflows/release.yaml
Owners: @NethermindEth/Angkor/angkor-validator-operators, @AntiD2ta, @aivarasko, @matilote

Update some charts descriptions
  charts/execution-beacon/Chart.yaml
  charts/lodestar/Chart.yaml
Owners: @aivarasko, @AntiD2ta, @matilote

fix init container stx
  charts/execution-beacon/templates/statefulset.yaml
Owners: @aivarasko, @AntiD2ta, @matilote

fix identation
  charts/execution-beacon/templates/statefulset.yaml
Owners: @aivarasko, @AntiD2ta, @matilote

add runAsNonRoot false
  charts/execution-beacon/templates/statefulset.yaml
Owners: @aivarasko, @AntiD2ta, @matilote

remove priv escalation
  charts/execution-beacon/templates/statefulset.yaml
Owners: @aivarasko, @AntiD2ta, @matilote

Adding in automountServiceAccountToken: false
  charts/dirk/templates/statefulset.yaml
  charts/execution-beacon/templates/statefulset.yaml
  charts/mev-boost/templates/deployment.yaml
  charts/validators/templates/statefulset.yaml
  charts/vouch/templates/statefulset.yaml
  charts/web3signer/templates/statefulset.yaml
Owners: @aivarasko, @matilote, @AntiD2ta

Turning off readOnlyRootFilesystem: false
  charts/execution-beacon/templates/statefulset.yaml
  charts/validators/templates/statefulset.yaml
  charts/web3signer/templates/statefulset.yaml
Owners: @aivarasko, @AntiD2ta, @matilote

Make scripts executable in the workflows
  .github/workflows/check-codeowners.yaml
  .github/workflows/validate-pr.yaml
Owners: @NethermindEth/Angkor/angkor-validator-operators, @AntiD2ta, @aivarasko, @matilote

Update validator-kapi Chart.lock
  charts/validator-kapi/Chart.lock
Owners: @aivarasko, @matilote

Fix linter reported issues
  .github/workflows/linter.yaml
  .github/workflows/release.yaml
  scripts/check-codeowners.sh
Owners: @NethermindEth/Angkor/angkor-validator-operators, @AntiD2ta, @aivarasko, @matilote

Update validate-pr workflow
  .github/workflows/validate-pr.yaml
  scripts/validate-pr.sh
Owners: @NethermindEth/Angkor/angkor-validator-operators, @AntiD2ta, @aivarasko, @matilote

Install Helm dependencies in lint-test workflow
  .github/workflows/lint-test.yaml
Owners: @NethermindEth/Angkor/angkor-validator-operators, @AntiD2ta, @aivarasko, @matilote

.github/CODEOWNERS:

# See https://github.com/scottrigby/prometheus-helm-charts/issues/12
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# The repo admins team will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @NethermindEth/Angkor/angkor-validator-operators

/.github/workflows/ @NethermindEth/Angkor/angkor-validator-operators @AntiD2ta @aivarasko @matilote

/charts/common/ @aivarasko @matilote
/charts/dirk/ @aivarasko @matilote
/charts/execution-beacon/ @aivarasko @AntiD2ta @matilote
/charts/lodestar/ @aivarasko @matilote
/charts/mev-boost/ @aivarasko @matilote
/charts/posmoni/ @aivarasko @matilote
/charts/validator-ejector/ @aivarasko @matilote
/charts/validator-kapi/ @aivarasko @matilote
/charts/validators/ @aivarasko @matilote
/charts/vouch/ @aivarasko @matilote
/charts/web3signer/ @aivarasko @matilote
